---
---
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>aMusicalCoder</title>
		<link rel="stylesheet" href="src/styles.css">
		<link rel="stylesheet" href="src/animate.min.css"/>
		<script src="https://kit.fontawesome.com/fca6bc6911.js" crossorigin="anonymous"></script>
	</head>

	<body>
		<div id="particles-js"></div>

		<a href="javascript:void(0);" id="hamLink" onclick="slideMenuOut()"><i id="hamburger" class="fa-solid fa-bars"></i></a>
		<div id="sidebar" class="animate__animated animate__fadeInLeft">
			<a id="arrowLink" href="javascript:void(0);" onclick="slideMenuIn()"><i class="fa-solid fa-arrow-left"></i></a>
			<a onclick="about()" href="javascript:void(0);">About</a>
			<a onclick="portfolio()" href="javascript:void(0);">Portfolio</a>
			<a onclick="blog()" href="javascript:void(0);">Blog</a>
			<a href="https://github.com/aMusicalCoder"><i class="fa-brands fa-github"></i></a>
			<a href="https://www.linkedin.com/in/benjamin-wagner-027b75152/"><i class="fa-brands fa-linkedin"></i></a>
		</div>

		<main>
            <div id="front_page_text" class="animate__animated main_text">
                <h1 class="animate__animated animate__bounceInDown">Benjamin Wagner</h1>
                <h3 class="animate__animated animate__bounceInUp">Computer Technician, Self-Taught Programmer</h3>
                <p class="animate__animated animate__fadeIn animate__delay-1s">
					<br>Welcome to aMusicalCoder! I'm Benjamin Wagner, a self-taught programmer and computer technician fueled by a deep passion for technology and Jazz music.
					<br><br>Proficient in Python, C++, HTML/CSS/JavaScript, Java, and SQL, I possess a versatile skill set that enables me to tackle a wide range of programming challenges.
					<br><br>With an unwavering commitment to lifelong learning, I prioritize continuous skill enhancement to stay at the forefront of the ever-evolving tech landscape.
                </p>
            </div>
            
            <div id="portfolio_text" class="animate__animated main_text">
                {% for post in site.posts %}
                    {% if post.category == "portfolio" %}
                        <h1>{{post.title}}</h1>
                        <p>{{post.content}}</p>
						<br><br>
                    {% endif %}
                {% endfor %}
            </div>

			<div id="blog_page_text" class="animate__animated main_text">
				{% for post in site.posts %}
                    {% if post.category == "blog" %}
                        <h1>{{post.title}}</h1>
                        <p>{{post.content}}</p>
						<br><br>
                    {% endif %}
                {% endfor %}
			</div>
		</main>

		<!-- Head is loaded before body, so standard to put JS at bottom of body element unless you need something sooner. -->
		<script src="src/jquery.min.js"></script>
		<script src="src/index.js"></script>
		<script src="src/particles.js"></script>
	</body>

</html>